/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // @import "bootstrap-sprockets";
 // @import "bootstrap";

body {
  background-color: #FAFAFA;
}

@keyframes pulse {
  from {
    transform: scale3d(.4, .4, .4);
  }

  90% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;

  animation-name: pulse;
}

.navbar-default {
  background-color: white;
}

.navbar-btn {
  margin-left: 10px;
}

.edit-btn-grp .btn{
  float: right;
  margin: 10px 5px;
}

.jumbotron {
  max-width: 1000px;
  //  background-color: #020733;
  background-image: url("http://res.cloudinary.com/de7jh2mw5/image/upload/b_rgb:000,c_crop,e_brightness:-0,h_470,o_73,w_1000,x_0,y_100/v1467236691/Screen_Shot_2016-06-29_at_2.44.25_PM_pfajqc.jpg");
  padding-top: 100px;
  margin: 0 auto;
  border-radius: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.content {
  max-width: 1000px;
  margin-top: 20px;
  margin: 0 auto 100px auto;
}

.promo-box {
  margin: 0 auto;
  text-align: center;
  text-shadow: 0px 0px 2px black;
  color: white;
}

.promo-title {
   padding: 0 50px;
   font-size: 44px;
   font-weight: 500;
   padding: 5px;
}

.promo-subtitle {
   max-width: 580px;
   margin: 10px auto;
   line-height: 33px;
   font-size: 24px;
   font-weight: 100;
}

.promo-text {
  padding: 0 50px;
  // color: rgba(255,255,255,.65);
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 100;
  font-style: normal;
}

.jumbotron Button {
  margin-top: 20px;
  border-radius: 25px;
  font-weight: 100;
  border: 0px;
}

.navbar-container {
  max-width: 1000px;
  margin: 0 auto !important;
}

.img-responsive {
  margin: 0 auto;
}

.recipe-section {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin-top: 20px;
}

.recipe-body {
  max-width: 700px;
  margin: 20px auto;
  font-family: 'Georgia', sans-serif;
  font-size: 21px;
  line-height: 33px;
  color: rgba(0,0,0,.8);
}

.recipe-body img {
  margin-bottom: 30px;
}

.recipe-title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}

.recipe-instructions h2, .recipe-instructions h3 {
  font-family: 'Roboto', sans-serif;
}

blockquote {
  border:none !important;
  padding: 10px 20px 0px;
  font-family:  Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0px !important;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote {
  color:#666666;
}

blockquote h3 {
    font-size:21px;
    font-style: italic;
}

blockquote h3:before {
    content: open-quote;
    font-weight: bold;
    font-size:20px;
    margin-right:3px;
}
blockquote h3:after {
    content: close-quote;
    font-weight: bold;
    font-size:20px;
    margin-left: 2px;
}

.recipe-index {
  max-width: 660px;
  float: left;
}

.recipe-index-item {
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

.recipe-form {
  max-width: 700px;
  margin: 0 auto;
}

.form-group {
  border: 0px;
}

.editor-title {
  font-size: 30px;
  height: auto;
}

.editor-description {
  font-size: 18px;
  height: auto;
}

.editor-instructions {
  background-color: white;
  padding: 0 10px 10px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.editor-button-group {
  margin-left: 25%;
}

.editor-button-group button.btn.btn-default {
  border-top: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-upload {
  margin: 10px 45% 0 45%;
}

textarea.form-control {
  height: 200px;
}

.author-big-letter {
  float:left;
  color: white;
  background-color: #5CB85C;
  text-align: center;
  border-radius:25px;
  height: 35px;
  width: 35px;
  line-height: 32px;
  margin-right: 10px;
}

.author-thumbnail {
  margin-right: 10px;
  height: 40px;
}

.flex-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-items: center;
}

.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-center {
  align-items: center;
}

.flex-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-comments {
  align-content: flex-end;
}

.index-likes {
  align-content: flex-start;
}

.like-button {
  margin-right: 10px;
  transition: background-color .5s;
  height: 20px;
  font-size: 20px;
  color: #5cb85c;
}

.tag-button {
  padding: 1px 5px;
  margin-left: 5px;
  color: #cfb094;
  background-color: white;
  border: 1px solid #cfb094;
  border-radius: 3px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.tag-index{
  width:620px;
  margin: 0 auto;
}
.sidebar {
  max-width:290px;
  float: right;
  color: #333333;
}

.sidebar-category {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
  color: #a0a0a0;
}

.sidebar-category a:hover{
  color: #a0a0a0;
  text-decoration: none;
}

.sidebar-category a{
  color: #a0a0a0;
}

.sidebar-recipes {
  margin-bottom: 50px;
}

.sidebar-recipe-item img{
  width: 150px;
  margin-right: 10px;
}

.sidebar-item-text {
  width: 120px;
}

.member-bio {
  margin: 0 auto;
}

.left10 {
  margin-left: 10px;
}

.top10 {
  margin-top: 10px;
}

.comment-box {
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  background-color: white;
  padding: 20px 20px 10px 20px;
  margin-bottom: 10px;
}

.delete-button {
  float:right;
  color: #c75d5d;
  font-size: 16px;
}

button:focus {outline:0 !important;}
