/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.navbar-btn {
  margin-left: 10px;
}

 .jumbotron {
   max-width: 1000px;
  //  background-color: #020733;
   background-image: url("http://res.cloudinary.com/de7jh2mw5/image/upload/b_rgb:000,c_crop,e_brightness:-0,h_470,o_73,w_1000,x_0,y_100/v1467236691/Screen_Shot_2016-06-29_at_2.44.25_PM_pfajqc.jpg");
   padding-top: 100px;
   margin: 0 auto;
   border-radius: 5px;
   color: white;
  font-family: 'Roboto', sans-serif;
}

.promo-box {
  margin: 0 auto;
  text-align: center;
  text-shadow: 0px 0px 2px black;

}

.promo-title {
   padding: 0 50px;
   font-size: 44px;
   font-weight: 500;
   padding: 5px;
}

.promo-subtitle {
   max-width: 580px;
   margin: 10px auto;
   line-height: 33px;
   font-size: 24px;
   font-weight: 100;
}

.promo-text {
  padding: 0 50px;
  // color: rgba(255,255,255,.65);
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 100;
  font-style: normal;
}

.jumbotron button {
  margin-top: 20px;
  border-radius: 25px;
  font-weight: 100;
  border: 0px;
}

.navbar .container-fluid {
  width: 1000px;
  margin: 0 auto;
}

// .navbar {
//   position: fixed;
//   width: 100%;
// }

button:focus {outline:0 !important;}
